extends layouts/layout

block title
    title Langu | Choose game


block content
    .welcome-box
        h1.welcome Hello, {{user}}!
        h2 Choose your game!
        #game-box
            a(href="/alphabet")
                .game-container
                    img(src="{{ static_url('assets/alphabet.png') }}").game-icon
                    span Alphabet
            a(href="/translation")
                .game-container
                    .game-icon
                    span Translation
            a(href="/reading")
                .game-container
                    img(src="{{ static_url('assets/reading.png') }}").game-icon
                    span Reading
        h1 Your scores:
        h3 alphabet
        p {{alphabet_scores}}
        h3 reading
        p {{reading_scores}}